<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="System:Xml:Serialization:UseLegacySerializerGeneration" value="true" />
    <add key="DotWPath" value="~/App_Data/Dotw/"/>
    <add key="TravyoPath" value="~/App_Data/Common/"/>
    <add key="DotWNPath" value="App_Data\Dotw\"/>
    <add key="JacPath" value="App_Data\JacTravel\"/>
    <add key="MikiPath" value="App_Data\Miki\"/>
    <add key="RestelPath" value="App_Data\Restel\"/>
    <add key="JuniperPath" value="App_Data\Juniper\"/>
    <add key="rmcutofftime" value="955000"/>
    <add key="cutofftime" value="55000"/>
    <add key="secondcutime" value="45000"/>
    <add key="RestelThreads" value="4"/>
    <add key="JuniperThreads" value="2"/>
    
    <!--RTS Key Start-->
    <add key="RTSitecode" value="WWT1X-00"/>
    <add key="RTSPassword" value="test1234"/>
    <add key="RTSSalesCompCode" value="WWT1X"/>
    <add key="RTSalesSiteCode" value="WWT1X-00"/>
    <add key="RTSalesUserNo" value="814244"/>
    <add key="RTSReqType" value="NetPartner"/>
    <add key="RTSCXlReasonCode" value="CR01"/>
    <add key="RTSAdminCompCode" value="LON01"/>
    <add key="RTSBookingPathCode" value="PATH01"/>
    <add key="RTSDefaultTvlNationality" value="GB"/>
    <add key="RTSBookerTypeCode" value="Partner"/>
    <add key="RTSellerMarkup" value="*1"/>
    <add key="RTSClientCurrencyCode" value="EUR"/>
    <add key="RTSrhhtlURL" value="http://devwsuk.rts.net/WebServiceProjects/NetWebService/WsHotelProducts.asmx"/>
    <add key="RTSBokCXlURL" value="http://devwsuk.rts.net/WebServiceProjects/NetWebService/WsBookings.asmx"/>
    <add key="RTSBokDtlURL" value="http://devwsuk.rts.net/WebServiceProjects/WebService/WsBookings.asmx"/>
    <!--RTS Key END-->
    
  </appSettings>
  <!--<connectionStrings>
    --><!--<add name="INGMContext" connectionString="metadata=res://*/Entity.INGMContext.csdl|res://*/Entity.INGMContext.ssdl|res://*/Entity.INGMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVData;initial catalog=TravillioTest;user id=TrvDev;password=Times@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>--><!--
   
    <add name="INGMContext" connectionString="data source=SRVData;initial catalog=TravillioTest;user id=TrvDev;password=Times@2016;"/>
  </connectionStrings>-->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.1.130:8097/ExtXmlOutService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExtXmlOutService"
        contract="HotelExtranet.IExtXmlOutService" name="BasicHttpBinding_IExtXmlOutService" />
      
      
      <endpoint address="http://xmlv7.travco.co.uk:8080/trlinkjws/services/HotelAvailabilityV7Service.HotelAvailabilityV7HttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelAvailabilityV7ServiceSoap11Binding"
        contract="HotelAvailabilityService.HotelAvailabilityV7ServicePortType"
        name="HotelAvailabilityV7HttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelCancellationDetailService.HotelCancellationDetailHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelCancellationDetailServiceSoap11Binding"
        contract="HotelCancellationDetails.HotelCancellationDetailServicePortType"
        name="HotelCancellationDetailHttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/AllocationEnquiryV7Service.AllocationEnquiryV7HttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="AllocationEnquiryV7ServiceSoap11Binding"
        contract="AllocationEnquiryService.AllocationEnquiryV7ServicePortType"
        name="AllocationEnquiryV7HttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelBookingV7RequestService.HotelBookingV7RequestHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelBookingV7RequestServiceSoap11Binding"
        contract="HotelBookingRequestService.HotelBookingV7RequestServicePortType"
        name="HotelBookingV7RequestHttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/BookEnquiryV7Service.BookEnquiryV7HttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="BookEnquiryV7ServiceSoap11Binding"
        contract="BookEnquiryService.BookEnquiryV7ServicePortType" name="BookEnquiryV7HttpSoap11Endpoint" />
      
      <!--<endpoint address="http://wsv7.travco.co.uk:8080/trlinkjws/services/HotelAvailabilityV7Service.HotelAvailabilityV7HttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelAvailabilityV7ServiceSoap11Binding"
        contract="HotelAvailabilityService.HotelAvailabilityV7ServicePortType"
        name="HotelAvailabilityV7HttpSoap11Endpoint" />
  <endpoint address="http://wsv7.travco.co.uk:8080/trlinkjws/services/HotelCancellationDetailService.HotelCancellationDetailHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelCancellationDetailServiceSoap11Binding"
        contract="HotelCancellationDetails.HotelCancellationDetailServicePortType"
        name="HotelCancellationDetailHttpSoap11Endpoint" />
      <endpoint address="http://wsv7.travco.co.uk:8080/trlinkjws/services/AllocationEnquiryV7Service.AllocationEnquiryV7HttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="AllocationEnquiryV7ServiceSoap11Binding"
        contract="AllocationEnquiryService.AllocationEnquiryV7ServicePortType"
        name="AllocationEnquiryV7HttpSoap11Endpoint" />
      <endpoint address="http://wsv7.travco.co.uk:8080/trlinkjws/services/HotelBookingV7RequestService.HotelBookingV7RequestHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="HotelBookingV7RequestServiceSoap11Binding"
        contract="HotelBookingRequestService.HotelBookingV7RequestServicePortType"
        name="HotelBookingV7RequestHttpSoap11Endpoint" />
      <endpoint address="http://wsv7.travco.co.uk:8080/trlinkjws/services/BookEnquiryV7Service.BookEnquiryV7HttpSoap11Endpoint/"
              binding="basicHttpBinding" bindingConfiguration="BookEnquiryV7ServiceSoap11Binding"
              contract="BookEnquiryService.BookEnquiryV7ServicePortType" name="BookEnquiryV7HttpSoap11Endpoint" />-->
      
      
      
      
      <endpoint address="http://demo-hotelws.touricoholidays.com/ABHotelFlow.svc/bas"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow"
        contract="Tourico.IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
      <endpoint address="http://demo-wsnew.touricoholidays.com/ApiBridgeReservationsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReservationsServiceSoap"
        contract="TouricoReservation.ReservationsServiceSoap" name="ReservationsServiceSoap" />
      <endpoint address="http://votbookings.com/XMLServices/AvailabilityServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAvailabilityServices"
        contract="VOTAvailabilityService.IAvailabilityServices" name="BasicHttpBinding_IAvailabilityServices" />
    </client>
    <services>
      <!--<service name="TravillioXMLOutService.TravillioService" behaviorConfiguration="TravillioXMLOutService_Behavior">
        <endpoint address="" binding="wsHttpBinding" contract="TravillioXMLOutService.ITravillioService" bindingConfiguration="TravillioXMLOutService_Config"></endpoint>
      </service>-->

      <service name="TravillioXMLOutService.TravayooOUTService" behaviorConfiguration="TravillioXMLOutService_Behavior">
        <endpoint address="" binding="wsHttpBinding" contract="TravillioXMLOutService.ITravayooOUTService" bindingConfiguration="TravillioXMLOutService_Config"></endpoint>
      </service>

      <service name="TravillioXMLOutService.TransferService" behaviorConfiguration="TravillioXMLOutService_Behavior">
        <endpoint address="" binding="wsHttpBinding" contract="TravillioXMLOutService.ITransferService" bindingConfiguration="TravillioXMLOutService_Config"></endpoint>
      </service>
      <service name="TravillioXMLOutService.AirService" behaviorConfiguration="TravillioXMLOutService_Behavior">
        <endpoint address="" binding="wsHttpBinding" contract="TravillioXMLOutService.IAirService" bindingConfiguration="TravillioXMLOutService_Config"></endpoint>
      </service>
      
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExtXmlOutService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAvailabilityServices" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="HotelAvailabilityV7ServiceSoap11Binding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="HotelCancellationDetailServiceSoap11Binding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="AllocationEnquiryV7ServiceSoap11Binding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="HotelBookingV7RequestServiceSoap11Binding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BookEnquiryV7ServiceSoap11Binding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IHotelFlow" />
        <binding name="ReservationsServiceSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="TravillioXMLOutService_Config" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="TravillioXMLOutService_Behavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" mapClientCertificateToWindowsAccount="true" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    
         
    
    
    
    
    
    <protocolMapping>
        <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
   
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="RTSHtl_Static" connectionString="data source=SRV03;initial catalog=StaticData;user id=Tradev;password=Times@2017;" />
    <!--<add name="INGMContext" connectionString="metadata=res://*/Entity.INGMContext.csdl|res://*/Entity.INGMContext.ssdl|res://*/Entity.INGMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVData;initial catalog=TravillioTest;user id=IngUser;password=Times@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="INGMContext" connectionString="metadata=res://*/Entity.INGMContext.csdl|res://*/Entity.INGMContext.ssdl|res://*/Entity.INGMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVData;initial catalog=Travillio13Dec;user id=IngUser;password=Times@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="INGMContext" connectionString="metadata=res://*/Entity.INGMContext.csdl|res://*/Entity.INGMContext.ssdl|res://*/Entity.INGMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVData;initial catalog=TravillioTest;user id=TrvDev;password=Times@2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="INGMContext" connectionString="data source=INGEDBSRV\SQLDEV2016;initial catalog=TravayooService;user id=TraUsr;password=Times@2017;"/>-->
    <!--<add name="INGMContext" connectionString="data source=SRV03;initial catalog=TravayooService;user id=TraDev;password=Times@2017;"/>-->
    <add name="INGMContext" connectionString="data source=SRV03;initial catalog=TravayooService;user id=TraDev;password=Times@2017;"/>
  </connectionStrings>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\log\Traces.svclog"  />
          <add type="System.Diagnostics.DefaultTraceListener" name="Default" />
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="\\srv20\TravillioXMLOutService\ServiceLog\Traces.svclog"  />
          <add type="System.Diagnostics.DefaultTraceListener" name="Default" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <!--<runtime>
    
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>-->
  
</configuration>
